@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap";
@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap";

:root{
    --color_rocket: #7159c1;
    --color-green:  #50fa7b;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background: #262229;
}
header{
    padding: 30px;
    
}
header div{
    text-align: center;
}
header div a{
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    
}
header div a:hover{
    color: #50fa7b;
    transition: 150ms;
    border-bottom: 1px solid #50fa7b;
}

#titulo{
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

/*====== CARDS ========*/
.cards{
    max-width: 800px;
    margin: 80px auto; 
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
    
}

.card{
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 290px;
    height: 500px;
}

.cards .card:hover{
    border: solid 1px var(--color-green);
    transition: 250ms;
    
}

.cards .card img{
    width: 65%;
    margin: 50px 40px;
}

.card_info{
    line-height: 25px;
    text-align: center;
    color: gray;
    font-family: 'Roboto';
    margin-top: 0;
    
    
    
}

/*==========MODAL============*/

.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color:rgb(16, 6, 104);
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximiza-modal{
    color: rgb(16,6,104);
    position: absolute;
    right: 40px;
    top: 16px;
    cursor: pointer;
}

/*===========MODAL.ACTIVE=========*/
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-content iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.modal.maximiza{
    width: 100%;
    height: 100%;
}

